<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/public//icons/changePass.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/changePassword.css" />
    <title>Смена пароля</title>
  </head>
  <body>
    <header>
      <nav class="top-menu">
        <ul>
          <li><a href="/">Додому</a></li>
          <li><a href="/results">Результати</a></li>
          <li><a href="/results/create">Додати</a></li>
          <li><a href="/auth/changeRole">Змінити роль користувача</a></li>
          <li><a href="/results/search">Знайти Результат</a></li>
          <li><a href="/auth/register">Реєстрація</a></li>
          <li><a href="/profile">Профіль користувача</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <h1 class="fade-in">Зміна паролю</h1>
      <% if (message) { %>
        <p class="message"><%= message %></p>
      <% } else if (messageCorr) { %>
        <p class="messageCorr"><%= messageCorr %></p>
      <% } %>
      

      <form method="post" action="/profile/changePassword">
        <label for="username">Імʼя користувача:</label>
        <input type="text" id="username" name="username" required />
        <br />
        <label for="oldPassword">Старий пароль:</label>
        <input type="password" id="oldPassword" name="oldPassword" required />
        <br />
        <label for="newPassword">Новий пароль:</label>
        <input type="password" id="newPassword" name="newPassword" required />
        <br />
        <input class="btn" type="submit" value="Сменить пароль" />
      </form>
    </div>
  </body>
</html>
